.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .search-field {
    width: 300px;
  }
  
  .aluno-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  .no-alunos-message {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-top: 16px;
  }
  .mat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }

  .alunos-table {
    width: 100%;
    margin-top: 16px;
  }
  
  .mat-cell,
  .mat-header-cell {
    padding: 8px 16px;
  }
  .alunos-container {
    height: 350px;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
  }
  
  .main {
    margin: 16px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .no-alunos-message {
    text-align: center;
    margin-top: 16px;
  }
  
  .table-container {
    height: 100%;
  }
  
  .alunos-table {
    width: 100%;
  }
  .fixed-header {
    position: sticky;
    top: 0;
    z-index: 1; /* Adicione um z-index para garantir que o cabeçalho fixo fique acima do conteúdo rolável */
  }

  