<mat-dialog-content class="dialog-content">
  <form [formGroup]="form">
    <mat-form-field class="form-field">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="form.get('nome')?.hasError('required')">
        O nome é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Matrícula</mat-label>
      <input matInput formControlName="matricula">
      <mat-error *ngIf="form.get('matricula')?.hasError('required')">
        A matrícula é obrigatória.
      </mat-error>
      <mat-error *ngIf="form.get('matricula')?.hasError('maxlength')">
        A matrícula deve ter no máximo 8 caracteres.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>RG</mat-label>
      <input matInput formControlName="rg">
      <mat-error *ngIf="form.get('rg')?.hasError('required')">
        O RG é obrigatório.
      </mat-error>
      <mat-error *ngIf="form.get('rg')?.hasError('maxlength')">
        O RG deve ter no máximo 8 caracteres.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone">
      <mat-error *ngIf="form.get('telefone')?.hasError('required')">
        O telefone é obrigatório.
      </mat-error>
      <mat-error *ngIf="form.get('telefone')?.hasError('maxlength')">
        O telefone deve ter no máximo 11 caracteres.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-button color="primary" [disabled]="form.invalid" (click)="submitForm()">
    {{ dialogData.mode === 'adicionar' ? 'ADICIONAR' : 'SALVAR' }}
  </button>
</mat-dialog-actions>
