.dialog-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .form {
  max-width: 1500px; /* Ajuste o valor conforme necessário */
  margin: 0 auto;
  border: 1px solid #ccc; /* Adicione uma borda para melhor visualização */
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  grid-gap: 10px;

  }
  
  .form-field {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }