.container {
    justify-content: left;
    align-items: center;
    margin: 0 50px;
    margin-top: 30px;
    margin-left: 200px;
    -webkit-text-size-adjust: 100%;
    max-width: 800px; /* Defina a largura máxima desejada */
  }
  

  .table_menor{
    margin: 0;
    -webkit-text-size-adjust: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    color: #333;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    border-radius: 0;
    border-left: 4px solid #7a180f;
    height: 100%;
    width: 50%;

  }

  .table_menor a{
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    font-weight: 200;
    text-rendering: optimizelegibility;
    font-size: 15px;
    line-height: 1;
    color: #ad2316;
    background-repeat: no-repeat;
    padding-left: 21px;
    background-position: left .1em;
    text-decoration: none;   
}
.table_menor h2{
  font-size: 15px;
}
.table_menor a:hover{
    color: #ad2316;
    text-decoration: underline;
    cursor: pointer;

}

.table{
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  list-style: none;
  white-space: normal;
  text-shadow: none;
  font-size: inherit;
  line-height: 20px;
  color: inherit;
  font-weight: 400;
  line-height: inherit;
  padding: 5px;
  border-left: 2px solid #FC0000;
  margin-bottom: 30px;
  border: 0.0625rem solid #dadce0;
  border-radius: 0.5rem;
}

.table p{
  cursor: pointer;
}
button {
  background-color: #105bfdab;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Adicione mais estilos conforme necessário */
.forum-background {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.forum-background h1 {
  -webkit-text-size-adjust: 100%;
  margin: 10px 0;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-rendering: optimizelegibility;
  line-height: 40px;
  font-size: 32px;
  text-align: left;
  text-transform: uppercase;
}
.titulo h1{
  -webkit-text-size-adjust: 100%;
  margin: 10px 0;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-rendering: optimizelegibility;
  line-height: 40px;
  font-size: 35px;
  text-align: left;

}
.status h1{
  font-size: 28px;
}
.p{
  font-size: 20px;
}

  .button {
    padding: 5px 10px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    border-radius: 5px; /* Borda arredondada */
    margin-left: 10px; /* Espaçamento à esquerda */
    font-weight: bold; /* Torna o texto em negrito */
    font-size: 16px; /* Tamanho do texto */
  }
  
  /* Estilos para o botão "Adicionar aluno" */
  .add-student-button {
    font-size: 16px;
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    &:hover {
      background-color: #2980b9; /* Cor de fundo (azul mais escuro) ao passar o mouse */
    }
  }

  .anexos {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #FC0000;
    margin-bottom: 20px;
  }
  
  .anexos a{
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #ad2316;
    font-weight: bold;
    max-width: 200px;
    transition: background-color 0.3s ease; /* Efeito de transição suave na mudança de cor de fundo */
    list-style: disc outside;
    position: relative; /* Importante para posicionar o ponto */
    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }
  
  
  /* Estilos para links dentro de .anexos a */
  .anexos a a {
    font-weight: normal;
  }
  

  /* Estilos para a tabela */
.detalhes-atividade {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

.detalhes-atividade th {
  text-align: left;
  font-weight: bold;
  padding: 8px;
  background-color: #f2f2f2;
}

.detalhes-atividade td {
  padding: 8px;
}

/* Estilos para as células de status */
.status-nenhuma-tentativa {
  color: #f00; /* Cor vermelha para destacar */
}

.status-sem-notas {
  color: #f00; /* Cor vermelha para destacar */
}

.data-entrega {
  font-style: italic;
}
.file-link {
  display: flex;
  align-items: center; /* Centraliza verticalmente os elementos */
}
/* Estilo para o ponto antes do nome do arquivo */
.file-link .dot::before {
  content: '\2022'; /* Código Unicode para um ponto (•) */
  margin-right: 5px; /* Espaço entre o ponto e o nome do arquivo */
  font-size: 20px; /* Tamanho do ponto */
}


/* Espaçamento entre o nome do arquivo e o ícone de download */
.file-link a:first-child {
  margin-right: 10px; /* Adapte conforme necessário */
}


/* Estilo para a seção de anexos */
.postagem-anexos {
  padding: 10px;
  border-radius: 5px;
}

.postagem-anexos p {
  margin: 0;
  font-weight: bold;
}

/* Estilo para a lista de anexos */
.postagem-anexos ul {
  list-style: none;
  padding: 0;
}

.postagem-anexos li {
  margin-bottom: 5px;
}

/* Estilo para links de download de anexos */
.postagem-anexos a {
  display: flex; /* Use o flexbox para alinhar verticalmente os elementos */
  align-items: center; /* Alinhe verticalmente os elementos no centro */
  color: #007bff; /* Cor do link de download */
  text-decoration: none;
}

.icon-download {
  margin-right: 5px; /* Espaçamento à direita do ícone */
  margin-left: 10px;
  font-size: 24px; /* Tamanho do ícone (ajuste conforme necessário) */
}


.postagem-anexos a:hover {
  text-decoration: underline;
}

/* Estilo para o círculo ao redor do ícone de download */
.file-link .download-link {
  position: relative;
}

.file-link .download-link .download-circle {
  position: absolute;
  width: 30px; /* Largura do círculo */
  height: 30px; /* Altura do círculo */
  border: 2px solid transparent;
  border-radius: 50%; /* Torna o elemento um círculo */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease; /* Transição suave */
  margin-left: 3px; /* Espaçamento à esquerda do círculo */
}

.file-link .download-link:hover .download-circle {
  border-color: #007bff; /* Cor do círculo quando passar o mouse */
  animation: pulse 1s infinite; /* Adiciona uma animação de pulsação */
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Estilo para o botão de anexar arquivo */
button.anexar-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* Estilo para o botão de postar */
  button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  