
<div class = "cursos">
    <div class="usuario_">
        <mat-icon class="icon_perfil">account_circle</mat-icon>
        <h2 class="user_name">Nome do usuário</h2>
      </div>      
    <h1 class = "titulo">Meus cursos</h1>
    <div class="container" *ngFor="let curso of cursos">
        <div class="table1" >
            <div class="info">
                <h3 class="coursename">
                    <a [routerLink]="['/curso', curso.id]">{{ curso.nome }} - {{ curso.codigo }} - {{curso.cargaHoraria}}h</a>
                </h3>
            </div>
            <div class="content" id="yui_3_17_2_1_1687909000771_89">
                <ul class="teachers" id="yui_3_17_2_1_1687909000771_94">
                    <li id="yui_3_17_2_1_1687909000771_93">Professor: <a href="https://ava.ufal.br/user/view.php?id=52221&amp;course=1">{{obterNomeProfessor(curso.id_professor)}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
  