
<div>
    <button mat-raised-button color="primary" (click)="openFeatureSelectorDialog()">Selecionar Features</button>
</div>
<div class="login-box">
    <div class="mainDiv">
    <div>
        <mat-toolbar style="background-color: #ad2316; color: #ffffff">
            <mat-toolbar-row>
            <span>Central de Autenticação </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="login">
    <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput [(ngModel)]="username" placeholder="CPF">
        </mat-form-field>
        <div>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" [(ngModel)]="password" placeholder="Senha"> 
        </mat-form-field>
    </div>
    </div>
    <div class="baixo"> 
        <a color="primary" href="https://sistemas.ufal.br/perfil/recuperar_senha" style="color: #ad2316; position: absolute; margin-left: -10px;">Esqueceu a senha?</a>
        <button class = "buttom" mat-raised-button color="primary" (click) ="login()" style="background-color: #ad2316; position: absolute; margin-left: 150px;">Entrar</button>
    </div>
    </div>
</div>


  

